# Challenge pandas

· Acessar o Colab, carregar os módulos e carregar os dados.

In [3]:
import pandas as pd

challenge_df = pd.read_csv('assets/dados_1997_2011_paises.csv', sep=';', decimal=',', encoding='latin1')

challenge_df

,pais,ano,idh,corrupcao_indice,competitividade_indice,globalizacao_indice,pib,populacao
0,África do Sul,1997,0.6328,56,44.54,52.60298,1.488142e+08,43353.63200
1,África do Sul,1998,0.6272,57,31.11,54.51911,1.342956e+08,43961.92400
2,África do Sul,1999,0.6216,50,43.90,61.04379,1.331836e+08,44526.27200
3,África do Sul,2000,0.6160,52,51.52,62.47182,1.328776e+08,45064.09800
4,África do Sul,2001,0.6126,50,45.12,62.04144,1.184790e+08,45576.21500
...,...,...,...,...,...,...,...,...
280,Reino Unido,2007,0.8560,86,75.45,82.12010,1.448770e+06,61337.36992
281,Reino Unido,2008,0.8600,86,71.90,81.67998,1.447825e+06,61731.27576
282,Reino Unido,2009,0.8600,84,76.07,79.31000,1.377247e+06,62086.03336
283,Reino Unido,2010,0.8620,77,76.81,80.18000,1.395893e+06,62438.13815
284,Reino Unido,2011,0.8630,77,80.28,81.68000,1.500045e+06,62262.00000


· Aplicar filtro do país Brasil e ano = 2008.

In [14]:
brasil = challenge_df[challenge_df['pais'] == 'Brasil']
ano = challenge_df[  challenge_df['ano'] == 2008]

result = pd.merge(brasil, ano)

result

,pais,ano,idh,corrupcao_indice,competitividade_indice,globalizacao_indice,pib,populacao
0,Brasil,2008,0.705,33,48.58,59.32183,1.652632e+09,196342.5104

In [24]:
# or
challenge_df[(challenge_df['pais'] == 'Brasil') & (challenge_df['ano'] == 2008)]

,pais,ano,idh,corrupcao_indice,competitividade_indice,globalizacao_indice,pib,populacao
71,Brasil,2008,0.705,33,48.58,59.32183,1.652632e+09,196342.5104

· Utilizando o groupby, obtenha o idh média para cada país.

In [18]:
challenge_df.groupby('pais').describe()

                 ano                                                    \
               count    mean       std     min     25%     50%     75%
pais
Alemanha        15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Austrália       15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Brasil          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Bélgica         15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Canadá          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
China           15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Cingapura       15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Coréia          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Espanha         15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Estados Unidos  15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
França          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Holanda         15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Itália          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Japão           15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
México          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Reino Unido     15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Rússia          15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
África do Sul   15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5
Índia           15.0  2004.0  4.472136  1997.0  2000.5  2004.0  2007.5

                         idh            ...           pib                \
                   max count      mean  ...           75%           max
pais                                    ...
Alemanha        2011.0  15.0  0.882880  ...  3.289583e+09  3.623686e+09
Austrália       2011.0  15.0  0.914507  ...  8.908297e+08  1.371764e+09
Brasil          2011.0  15.0  0.684653  ...  1.480236e+09  2.492908e+09
Bélgica         2011.0  15.0  0.876107  ...  4.643565e+08  5.133960e+08
Canadá          2011.0  15.0  0.890480  ...  1.380822e+09  1.736869e+09
China           2011.0  15.0  0.625240  ...  4.007942e+09  7.298147e+09
Cingapura       2011.0  15.0  0.821587  ...  1.729944e+08  2.598490e+08
Coréia          2011.0  15.0  0.856907  ...  9.415878e+08  1.116247e+09
Espanha         2011.0  15.0  0.852427  ...  1.424673e+09  1.593912e+09
Estados Unidos  2011.0  15.0  0.900947  ...  1.366560e+10  1.458674e+10
França          2011.0  15.0  0.861773  ...  1.390035e+06  1.463710e+06
Holanda         2011.0  15.0  0.891320  ...  4.004934e+05  4.216470e+05
Itália          2011.0  15.0  0.848000  ...  1.143762e+06  1.172412e+06
Japão           2011.0  15.0  0.881360  ...  2.821043e+06  2.908904e+06
México          2011.0  15.0  0.736080  ...  8.525165e+05  9.098150e+05
Reino Unido     2011.0  15.0  0.846440  ...  1.403391e+06  1.500045e+06
Rússia          2011.0  15.0  0.718520  ...  1.204648e+06  1.348686e+06
África do Sul   2011.0  15.0  0.612240  ...  2.790166e+08  4.087040e+08
Índia           2011.0  15.0  0.495680  ...  3.284194e+06  3.974408e+06

               populacao                                            \
                   count          mean           std           min
pais
Alemanha            15.0  8.241125e+04    295.906389  8.184400e+04
Austrália           15.0  2.009810e+04   1207.072033  1.841500e+04
Brasil              15.0  1.855733e+05  10271.170342  1.686387e+05
Bélgica             15.0  1.036109e+04    151.077602  1.019979e+04
Canadá              15.0  3.221023e+04   1300.508852  3.030560e+04
China               15.0  1.293211e+06  36114.177312  1.230075e+06
Cingapura           15.0  4.495869e+03    469.674912  3.769760e+03
Coréia              15.0  4.768776e+04   1083.505537  4.580782e+04
Espanha             15.0  4.313492e+04   2486.736049  3.990724e+04
Estados Unidos      15.0  2.933256e+05  12142.102886  2.732030e+05
França              15.0  6.261617e+04   1615.764717  6.025371e+04
Holanda             15.0  1.618222e+04    320.530363  1.560715e+04
Itália              15.0  5.884610e+04   1091.423216  5.752278e+04
Japão               15.0  1.272699e+05    615.622134  1.259246e+05
México              15.0  1.048330e+05   5502.273176  9.589515e+04
Reino Unido         15.0  6.041310e+04   1321.351958  5.857822e+04
Rússia              15.0  1.438922e+05   2876.291318  1.393901e+05
África do Sul       15.0  4.689775e+04   2120.809220  4.335363e+04
Índia               15.0  1.075624e+06  80699.798067  9.518610e+05


                         25%           50%           75%           max
pais
Alemanha        8.228044e+04  8.244727e+04  8.265716e+04  8.276918e+04
Austrália       1.917345e+04  1.999479e+04  2.087817e+04  2.270800e+04
Brasil          1.775946e+05  1.864885e+05  1.931472e+05  2.011033e+05
Bélgica         1.027765e+04  1.034828e+04  1.039809e+04  1.084000e+04
Canadá          3.123815e+04  3.213476e+04  3.307433e+04  3.489600e+04
China           1.267248e+06  1.296075e+06  1.321336e+06  1.347350e+06
Cingapura       4.116407e+03  4.498226e+03  4.876265e+03  5.184000e+03
Coréia          4.700833e+04  4.785385e+04  4.831477e+04  5.000400e+04
Espanha         4.081795e+04  4.300016e+04  4.556100e+04  4.650596e+04
Estados Unidos  2.842052e+05  2.936434e+05  3.035953e+05  3.100000e+05
França          6.130774e+04  6.253399e+04  6.386959e+04  6.535000e+04
Holanda         1.597315e+04  1.625073e+04  1.636482e+04  1.674100e+04
Itália          5.788778e+04  5.874652e+04  5.956136e+04  6.078054e+04
Japão           1.269421e+05  1.275790e+05  1.277098e+05  1.277877e+05
México          1.005868e+05  1.049596e+05  1.093281e+05  1.124689e+05
Reino Unido     5.934259e+04  6.021345e+04  6.153432e+04  6.243814e+04
Rússia          1.417236e+05  1.435074e+05  1.463501e+05  1.480673e+05
África do Sul   4.532016e+04  4.703287e+04  4.857494e+04  5.058700e+04
Índia           1.013046e+06  1.065071e+06  1.138931e+06  1.210193e+06

[19 rows x 56 columns]

In [26]:
challenge_df.groupby('pais')['idh'].mean().reset_index()

              pais       idh
0         Alemanha  0.882880
1        Austrália  0.914507
2           Brasil  0.684653
3          Bélgica  0.876107
4           Canadá  0.890480
5            China  0.625240
6        Cingapura  0.821587
7           Coréia  0.856907
8          Espanha  0.852427
9   Estados Unidos  0.900947
10          França  0.861773
11         Holanda  0.891320
12          Itália  0.848000
13           Japão  0.881360
14          México  0.736080
15     Reino Unido  0.846440
16          Rússia  0.718520
17   África do Sul  0.612240
18           Índia  0.495680