# ML Libs challenge

1. Acessar o csv, carregar os módulos e carregar os dados.

In [46]:
import pandas as pd

df_challenge = pd.read_csv('assets/dados_1997_2011_paises.csv', sep=';', encoding='latin1', decimal=',')

2. Filtrar o país Brasil e obtenha as medidas: média, mediana, mínimo, máximo para as colunas "idh"
e "competitividade_indice".

In [47]:
idh = df_challenge[df_challenge['pais'] == 'Brasil']\
    .agg(
        min_idh = pd.NamedAgg('idh', 'min'),
        media_idh = pd.NamedAgg('idh', 'mean'),
        mediana_idh = pd.NamedAgg('idh', 'median'),
        max_idh = pd.NamedAgg('idh', 'max'),
    )

idh

                  idh
min_idh      0.646400
media_idh    0.684653
mediana_idh  0.686600
max_idh      0.718000

In [48]:
comp = df_challenge[df_challenge['pais'] == 'Brasil']\
    .agg(
        min_competitividade = pd.NamedAgg('competitividade_indice', 'min'),
        media_competitividade = pd.NamedAgg('competitividade_indice', 'mean'),
        mediana_competitividade = pd.NamedAgg('competitividade_indice', 'median'),
        max_competitividade = pd.NamedAgg('competitividade_indice', 'max'),
    )

comp

                         competitividade_indice
min_competitividade                      39.980
media_competitividade                    49.568
mediana_competitividade                  48.580
max_competitividade                      61.040

3. Filtrar o país Alemanha e obter as mesmas medidas analisadas no Brasil. Discorra sobre quais
foram as principais diferenças encontradas.

In [49]:
def getMetrics(country: str, isIdh: bool=True):
    colName = 'idh' if isIdh else 'competitividade_indice'

    result = df_challenge[df_challenge['pais'] == country]\
    .agg(
        min = pd.NamedAgg(colName, 'min'),
        media = pd.NamedAgg(colName, 'mean'),
        mediana = pd.NamedAgg(colName, 'median'),
        max = pd.NamedAgg(colName, 'max'),
    )

    return result

In [50]:
getMetrics('Brasil', isIdh=False)

         competitividade_indice
min                      39.980
media                    49.568
mediana                  48.580
max                      61.040

In [51]:
getMetrics('Alemanha')

             idh
min      0.84660
media    0.88288
mediana  0.88880
max      0.90500

In [52]:
getMetrics('Alemanha', False)

         competitividade_indice
min                   62.950000
media                 74.262667
mediana               73.440000
max                   87.820000

4. Encontre a derivada das seguintes funções:

A. 2x2 + 5x + 3

B. (5x+3).(3x-2)

In [53]:
import sympy as sp
# derivative
x = sp.Symbol('x')
f = 2*x*2 + 5*x +3

sp.diff(f)

9

In [54]:
x = sp.Symbol('x')
f = (5*x+3)*(3*x-2)

sp.diff(f)

30*x - 1